<button (click)="openDialog()" class="add-user-button" matTooltip="add a new User" mat-fab color="primary"
    aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
</button>
<mat-card>
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>City</th>
        </tr>
        <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.customIdName]">
            <td>{{ user.firstName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.city }}</td>
        </tr>



    </table>